<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT FOUND</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class='errorstyle'>
        <img class= 'imgerror' src="/img/error_404.jpeg" alt="error_404">
    </div>
    <div class='errorstyle container'>
        <h3>Ups! Lamentablemente no pudimos encontrar esta página, puede visitar nuestra <a href="/index">página principal.</a></h3>
    </div>
</body>
</html>
