<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header class="headerformulario">
        <img src="/img/HJ-03.png" alt="" class="logoformulario logo" onclick="window.location = '/index'">
    </header>

   <p>Nombre del usuario es:<%= usuario.name%></p> 

   <p>Email es: <%= usuario.email %></p> 

</body>
</html>