<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <header class="container row">
        <div class="headerformulario col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <img src="/img/HJ-04.png" alt="Logo" class="col-6 logo" onclick="window.location = '/index'">
            <img src="/img/logo_anteojos-08.png " alt="Logo">
        </div>
    </header>
    <title>Sin permiso</title>

</br></br></br>
   <p style="text-align: center;">Lo sentimos, usted no cuenta con los permisos necesarios para acceder a esta página.</p>

<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>

</html>