<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <header class="headerformulario col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <img src="/img/HJ-03.png" alt="" class="logoformulario logo" onclick="window.location = '/index'">
    </header>
    <main class="mainformulario" >

        <div class="container row mainformulario ">
            <h1 class="tituloformulario col-12" >INICIAR SESIÓN</h1>
            <form class= 'formulariocentrado col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4' action="/user/login" id="formlogin" method="POST">
                <label for="email" class="labelform">Email</label>
                <br>
                <input type="email" name="email" id="email" class="form-control" required>
                <% if (typeof(mailinv) != "undefined") { %>
                    <span style="color: #dc3545; font-size: 14px; margin: 0px; font-family:'Kreon', serif"> <%= mailinv %>  </span>
                <% } %>
                <div class="email invalid-feedback"></div>
                <br><br>
                <label for="password" class="labelform">Contraseña</label>
                <br>
                <input type="password" name="password" id="password" class="form-control" required>
                <% if (typeof(contraseñainv) != "undefined") { %>
                    <span style="color: #dc3545; font-size: 14px; margin: 0px; font-family:'Kreon', serif"> <%= contraseñainv %>  </span>
                <% } %>
                <div class="contraseña invalid-feedback"></div>
                <br><br>

                <label for="recordame" id="recordame">Recordame</label>
                <input type="checkbox" name="recordame" value="recordame">

                <button class="añadirproducto" type="submit">INICIAR SESIÓN</button>
                <button class='añadirproducto' type='submir' id="facebook">Iniciar sesión con Facebook</button>
                <p class="registromail">--------------------- O ---------------------</p>
                <button class="añadirproducto" onclick="window.location = '/user/register'">REGISTRARSE</button>

            </form>
        </div>

    </main>
        <script src="/js/loginValidator.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>