<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOT FOUND</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <div class='errorstyle'>
        <img class= 'imgerror' src="/img/error_404.jpeg" alt="error_404">
    </div>
    <div class='errorstyle container'>
        <h3 class="error">Lo sentimos, la página que busca no existe o no cuenta con los permisos necesarios para acceder a la misma, lo invitamos a visitar nuestra <a class="linkerror" href="/">página principal.</a></h3>
    </div>
</body>
</html>
