<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>
    <header class="container row">
        <div class="headerformulario col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <img src="/img/HJ-04.png" alt="Logo" class="col-6 logo" onclick="window.location = '/index'">
            <img src="/img/logo_anteojos-08.png " alt="Logo">
        </div>
    </header>
    <main>
        <div class='container row mainformulario'>
            <h1 class="tituloformulario col-12">AÑADIR PRODUCTO</h1>
        <form action="/productos/nuevoproducto" class="formulariocentrado col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" method="POST" enctype="multipart/form-data" id="formulario">

            <% if (typeof errors != 'undefined') { %>
                <p style="color: red; font-size: 15px; font-family:'Kreon', serif">Se han encontrado 1 o varios errores:</p>
                <ul style= "color: red; font-size: 15px; font-family:'Kreon', serif">
                    <% for (var i = 0; i < errors.length; i++){ %>
                    <li>
                        <%= errors[i].msg %>
                    </li>
                    <% } %>
                </ul>
            <% } %>

            <br>
            <label for="codigoProduct" class="labelform">Código del producto</label>
            <br>
            <input type="text" name="codigoProduct" id="codigo" class="form-control" placeholder="0_" required>
            <div class="codigo invalid-feedback"></div>
            <br><br>
            <br>
            <label for="nombre" class="labelform">Nombre del producto</label>
            <br>
            <input type="text" name="nombreProduct" class="form-control" id="nombre" required>
            <div class="nombre invalid-feedback"></div>
            <br><br>
            <label for="descCorta" class="labelform">Descripción Corta</label>
            <br>
            <input type="text" name="descCorta" class="form-control" id="descCorta" required>
            <div class="descripcion invalid-feedback"></div>
            <br><br>
            <label for="descLarga" class="labelform">Descripción Larga</label>
            <br>
            <p class="letragrisform">Campo optativo</p>
            <textarea name="descLarga" id="descLarga" cols="45" rows="4"></textarea>
            <br>
            <label for="precio" class="labelform">Precio</label>
            <br>
            <input type="number" name="precio" id="precio" required class="form-control">
            <div class="precio invalid-feedback"></div>
            <br><br>

            <label for="tienda" class="labelform">Tienda</label>
            <br>
            <select name="tienda" id="tiendas" required class="form-control">

                <option value="" selected disabled hidden>Selecciona una tienda</option>

            <% for (let i = 0; i < tiendas.length; i++) { %>

            <option value="<%=tiendas[i].name%>"><%=tiendas[i].name%></option>

            <%}%>
            </select>
            <div class="tiendas invalid-feedback"></div>
            <br><br>

            <label for="filtros" class="labelform" id="filtros">Filtros</label><br>
            <div class="filtros invalid-feedback"></div>
            <br>
            <div>
                <input type="checkbox" name="org">
                <label for="org" class= "letragrisform" value="3" id="org">Orgánico</label>
                <br>
                <input type="checkbox" name="sinTacc">
                <label for="sinTacc" class="letragrisform" value="1" id="sinTacc">Sin Tacc</label>
                <br>
                <input type="checkbox" name="sinLactosa">
                <label for="sinLactosa" class="letragrisform" value="2" id="sinLactosa">Sin Lactosa</label>
                <br><br>
            </div>
            <label for="foto" required class="labelform">Añadir foto</label>
            <input type="file" name="fotoProducto" id="file" class="form-control" required>
            <div class="file invalid-feedback"></div>
            <br><br>

            <button type="submit" class="añadirproducto">AÑADIR PRODUCTO</button>
            <button class="modificarexistente" onclick="window.location = '/productos'">MODIFICAR PRODUCTO EXISTENTE</button>

        </form>
    </div>
    </main>
        <script src="/js/productoValidator.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </body>

          </html>