<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs')%>

<body>

    <%- include('partials/header.ejs')%>

<main class="ppalcon container">

    <%- include('partials/filtros.ejs')%>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" id="mapnav">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tienda: CARDAMOMO</li>
        </ol>
    </nav>

    <section class= 'row artiprod '>
        <article class="row col-12 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 cadaprod1 ">

            <div class='col-4 imgart'><img src="/img/TIENDA CARDAMOMO/espinaca.jpg"alt="espinaca_baby_cardamomo"></div>
            <div class='col-8 botprod '>
                <div class= 'row '>
                    <div class= 'col-12 nombreprod'>
                        Espinaca
                    </div>
                </div>
                <div class= 'row'>
                    <div class='col-8 proddescri'><p>Espinaca baby agroecológica 250gr</p></div>
                    <div class='col-4 precioprod'>$76</div>
                </div>
                <div class= 'row'>
                    <div class='col-12'>
                        <button type="button" class="btnverprod">LO QUIERO!</button>
                    </div>
                </div>
            </div>

        </article>

        <article class="row col-12 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 cadaprod2 ">
            <div class='col-4 imgart'><img src="/img/TIENDA CARDAMOMO/granola de autor.jpg"alt="granola_cardamomo"></div>
            <div class='col-8 botprod'>
                <div class= 'row '>
                    <div class= 'col-12 nombreprod'>
                        Granola
                    </div>
                </div>
                <div class= 'row'>
                    <div class='col-8 proddescri'><p>Granola de autor 375gr</p></div>
                    <div class='col-4 precioprod'>$346</div>
                </div>
                <div class="row">
                    <div class='col-12'>
                        <button type="button" class="btnverprod">LO QUIERO!</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="row col-12 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 cadaprod1 ">
            <div class='col-4 imgart'><img src="/img/TIENDA CARDAMOMO/queso_crema_cardamomo.jpeg "alt="queso_crema_cardamomo"></div>
            <div class='col-8 botprod '>
                <div class= 'row '>
                    <div class= 'col-12 nombreprod'>
                        Queso Crema
                    </div>
                </div>
                <div class= 'row'>
                    <div class='col-8 proddescri'><p> Crema de castañas 180gr</p></div>
                    <div class='col-4 precioprod'>$320</div>
                </div>
                <div class= 'row'>
                    <div class='col-12'>
                        <button type="button" class="btnverprod">LO QUIERO!</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="row col-12 col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 cadaprod2 ">
            <div class='col-4 imgart'><img src="/img/TIENDA CARDAMOMO/aceite de coo.jpg"alt="Aceite_coco_cardamomo"></div>
            <div class='col-8 botprod '>
                <div class= 'row '>
                    <div class= 'col-12 nombreprod'>
                        Aceite de Coco
                    </div>
                </div>
                <div class= 'row'>
                    <div class='col-8 proddescri'><p>Aceite de coco Neutro “MK Orgánic” 660cc</p></div>
                    <div class='col-4 precioprod'>$565</div>
                </div>
                <div class= 'row'>
                    <div class='col-12'>
                        <button type="button" class="btnverprod"> <a href="/productos/:idproducto">LO QUIERO!</a></button>
                    </div>
                </div>
            </div>
        </article>
    </section>
</main>

<%- include('partials/footer.ejs')%>

<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>