.headerformulario{
width: 80%;
margin: 0px auto;
}

.logoformulario{
width: 100%;
}

/*---- HASTA ACÁ HEADER FORMULARIOS -----*/

.mainformulario{
width: 80%;
margin: 0px auto;
}

.formulariocentrado{
width: 90%;
margin: 0px auto;
}

.tituloformulario{
font-size: 16px;
font-family: 'Kreon', serif;
color:rgb(200,120,20);
padding-top: 10%;
font-weight: bold;
text-align: center;
}

#facebook{
color: white;
background-color: blue;
border-radius: 8px;
padding: 4% 10%;
width: 100%;
font-family:'Kreon', serif;
text-align: center;
margin-bottom: 2%;
margin-top: 2%;
}

.registromail{
color: grey;
text-align: center;
font-size: small;
margin: 0px;
font-family:'Yanone Kaffeesatz', sans-serif;
}

#formregistro{
margin: 0px auto;
}

.labelform{
color:rgb(200,120,20);
font-family:'Yanone Kaffeesatz', sans-serif;
font-size: 20px;
text-align: left;
margin: 0px;
}

input:hover{
background:rgba(250,100,20,0.5) ;
}

.terminosycond{
color: blue;
text-align: center;
}

#registrarme{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 8px;
    padding: 4% 10%;
    width: 100%;
    font-family:'Kreon', serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    }


/*---- HASTA ACÁ REGISTRARSE -----*/


.añadirproducto{
color: white;
background-color: rgb(125,135,60);
border-radius: 8px;
width: 100%;
font-family:'Kreon', serif;
text-align: center;
margin-bottom: 2%;
margin-top: 2%;
padding: 2% 10%;
}

.letragrisform{
color: grey;
font-family:'Yanone Kaffeesatz', sans-serif;
}

.modificarexistente{
color:rgb(125,135,60);
border-radius: 8px;
width: 100%;
font-family:'Kreon', serif;
text-align: center;
margin-bottom: 2%;
margin-top: 2%;
padding: 2% 5%;
}

/*---- HASTA ACÁ FORM DE NUEVO PRODUCTO -----*/

@media (min-width: 768px){
.headerformulario{
    width: 40%;
    }

.mainformulario{
    width: 35%;
    margin: 0px auto;
    }
}

@media (min-width: 1024px){
.registromail{
    font-size: medium;
    }

#formregistro{
    width: 75%;
    margin: 0px auto;
    }
}