/*---- Main-----*/
main{
    padding: 2%;

}
#button-compras{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 6px;
    padding: 3%;
    font-family:'Kreon', serif;
    font-size: 100%;
    text-decoration: none;
    border: white 1px solid;
    width: 100%;
    }

.detalle_Carrito{
    padding: 10px;
    background-color: rgba(200, 200, 160,0.25);

}
section{
    margin: 1%;
    width: 100%;
    height: auto;
}

#compras-seguir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
#compras-titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Kreon', serif;
}
.nombre_producto{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200, 200, 160, 0.5);
    padding:3px;
    margin-left: 2px;
    position: relative;
    
}
#producto_reemplazo{
    padding-right: 1px;
    padding-left: 1px;
    
    
}
.producto1{
    font-size: 17px; 
    padding-top: 3px; 
}
#reemplazo{
    opacity: .5;
    font-size: 14px;
}
p{
    font-size: 14px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    
}
.cantidad{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left:2px;
    padding-right: 2px;
    justify-content: center;
}

#cantidad-numero{
    font-size: 17px;
    
}
#precio-box{
    display: flex;
    flex-wrap: wrap;
    align-items:right;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    
}

#precio{
    display: flex;
    align-items: flex-start;
    padding-left:5px;
    padding-right: 5px;
    flex-direction: column;
    justify-content: space-around;
    font-size:18px;
    
}

.editable{ 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}


#pago-detalle{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200, 200, 160, 0.5);
    padding:3px;
    position: relative;
    color: rgb(125,135,60);
}

#pago-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#pago-item p{
    color: rgb(125,135,60);
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.pago-total{
    font-size: 17px;
    margin-bottom: 1px; 
    justify-content:right; 
    text-align: right;
}

.pago-box{
    display: flex;
    flex-wrap: wrap;
    padding:3px;
    position: relative;
}

#compras-pagar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

@media (min-width: 576px) {

    .filtropablabras {
        font-weight: bold;
         font-size: 21px;
    }
  
    
}

@media (min-width: 768px) {

    .navbar-dark .navbar-toggler {
        width:70%;

    }    

}

@media (min-width: 992px) {
    .navbar-dark .navbar-toggler {
        width:70%;
    }
 
  
   

}

@media (min-width: 1200px) {

    .navbar-dark .navbar-toggler {
        width:70%;
    }

}