<footer class="container">
    <div id="divfooter" >
        <nav class="row">
            <div class="col-8">
                <a href="">NOSOTROS  |</a>
                <a href="">PRIVACIDAD  |</a>
                <a href="">CONDICIONES</a>
            </div>
            <ul class="col-4">
                <p>SEGUINOS</p>
                <a href='https://twitter.com'><i class="fab fa-twitter" ></i></a>
                <a href='https://www.facebook.com'><i class="fab fa-facebook-square"></i></a>
                <a href='https://www.instagram.com'><i class="fab fa-instagram"></i></i></a>
            </ul>
        </nav>
    </div>
</footer>