<header class='container fixed-top'>
    <div class='hedcompleta' >


        <div class='row superior'>

            <div class="menugrande col-3 row" >
                <div class="col-12" >
                        <% if (user) { %>

                        <p class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 usuarioLogueado"><a href="/user/detalle">¡Bienvenido <%= user.nombre %>! >> ver perfil </a></p>

                        <button type="button" class="btncab" onclick="window.location = '/user/close'">CERRAR SESIÓN</button>

                        <% } else { %>

                    <button type="button" class="btncab" onclick="window.location = '/user/login'">INGRESAR</button>
                    <button type="button" class="btncab" onclick="window.location = '/user/register'">REGISTRARME</button>

                        <% } %>

                    <button type="button" class="btncab">MIS COMPRAS</button>
                </div>

            </div>
            <nav class="navbarburguer navbar-expand-lg navbar-light col-1 ">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">

                        <a class="nav-item nav-link"  onclick="window.location = '/user/login'">INGRESAR</a>
                        <a class="nav-item nav-link " onclick="window.location = '/user/register'">REGISTRARSE</a>
                        <a class="nav-item nav-link " href="#">MIS COMPRAS</a>

                    </div>
                </div>
            </nav>

            <div class= 'col-5 imaghed '>
                <img class="logo" src="/img/logo-healthy-journey.png" alt="Logo" href="/index" onclick="window.location = '/index'">
            </div>
            <div class='row col-12 col-sm-4 col-md-5 col-lg-4 col-xl-4'>

                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 divdelbtncar" >
                    <button type="button" class="btncarrito"onclick="window.location = '/user/carrito'">CARRITO</button>
                </div>

            </div>
        <form action="/index/search" method="GET" class="container row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por producto" aria-label="Recipient's username" aria-describedby="button-addon2" name="nombre">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search lupita"></i></button>
                </div>
            </div>
        </form>

        </div>

   
    </div>
</div>
</header>