* {
    box-sizing: border-box;
}


/* ---------------------------------- HEADER --------------------------*/

.logo{
    cursor: pointer;
}

.imaghed {
    padding-left: 10%;
    padding-right: 0px;
}

.filtroelegido {
    display: flex;
    background-color: rgba(125, 135, 60, 0.8);
    margin: 2%;
    border-radius: 6px;
}

.hedcompleta {
    background-color: rgb(200,200,160);
    padding-left: 1%;
    padding-right: 1%;
}

.superior {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.superior div img {
    width: 100%;
}

.btncarrito {
    width: 100%;
    background-color: rgb(200,120,20);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: white 1px solid;
    font-family:'Kreon', serif;
    font-size: 13px;
    padding: 3%;
}
.divdelbtncar {
    padding:0px;
    margin-top: 2%;
}

.usuarioLogueado {
 margin: 0px;
 padding: 0px;
 width:100%;
 text-align: center;
}
.usuarioLogueado a {
    color: rgb(200,120,20);
    font-family:'Kreon', serif;
    text-decoration: none;
}

/* -------------------------HAMBURGUESA EN GRANDE----------------*/

.menugrande {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btncab {
    width: 100%;
    background-color: rgb(200,120,20);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: white 1px solid;
    font-family:'Kreon', serif;
    padding: 3%;
    margin-top: 3%;
}

/* ---------------MENÚ HAMBURGUESA--------------------*/


.navbarburguer {

    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-left: 5%;

}

.navbar-toggler {
    z-index: 2;
    background-color: rgb(200,120,20);
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: white 1px solid;
}
.navbar-collapse {
    background-color: rgba(250, 250, 1250, 0.842);
    padding-top: 5%;
    padding-right: 10%;
    padding-bottom: 15%;
    padding-left: 10%;
    border-radius: 6px;
    z-index: 1;
    margin-top: -6px;
    font-family:'Kreon', serif;
}

.nav-item.nav-link  {
    padding-bottom: 0%;
}
a.nav-item.nav-link  {
    border-bottom: #6c757d 1px solid;
    width: max-content;
}

/* ------------FIN MENÚ HAMBURGUESA--------------------*/

.mb-3 {
    margin-top: 3%;
    padding-bottom: 2%;
    background-color: rgb(200,200,160);
}

.btn-outline-secondary {
    background-color: rgb(200,120,20);
    color: white;
    border: white 1px solid;
}




/* ---------------------------------- FILTROS --------------------------*/


.filtros {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.afiltros{
    display: flex;
    justify-content: space-around;
    margin-top: 28vw;
    }


.imgfiltros {
    width: 90%;
}

.filtropablabras {
    font-family:'Kreon', serif;
    margin-top: 0px;
}


/* ---------------------------------- FILTRO ELEGIDO --------------------------*/

#mapnav{
    font-size: 10px;
    font-style: oblique;
    background-color: rgba(125, 135, 60, 0.8);
    color: rgb(200,200,160);
}

#mapnav a{
    color: rgb(200,200,160);
}

.breadcrumb-item.active{
    color: white;
}

/* ---------------------------------- SECCIÓN DE TIENDAS --------------------------*/

#tiendas{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}

.cadatienda1{
    padding: 2%;
    border-radius: 6px;
    margin-bottom: 2%;
    background-color: rgb(200,200,160);
}

.cadatienda2{
    padding: 2%;
    border-radius: 6px;
    margin-bottom: 2%;
    background-color: rgb(235, 235, 205);
}

.logostiendas{
    width: 120%;
    margin: 0px auto;
}

#tiendas p{
    font-size: 15px;
    font-family:'Kreon', serif;
    line-height: 4vh;
}

.nombretienda{
    font-family:'Kreon', serif;
    font-size: larger;
    font-weight: bold;
}
.aneutra {
    color:white;
}

.botonmain{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 6px;
    padding: 3%;
    font-family:'Kreon', serif;
    font-size: 13px;
    text-decoration: none;
    border: white 1px solid;
    width: 100%;
}

/* ---------------------------------- SECCIÓN DE PRODUCTOS --------------------------*/

.busqueda {
font-size: 130%;
font-family:'Kreon', serif;
}

div.col-12 p {
    margin-bottom: 0px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family:'Kreon', serif;
    color: white;
    letter-spacing: 1px;
}
section.row.artiprod {
    margin-left: 0px;
}

section.row.artiprod article {
    margin-left: 0px;
}

.artiprod {
    display:flex;
    justify-content: space-between;
    padding: 2%;

    }


.cadaprod1 {
    padding: 1%;
    background-color: rgb(200,200,160);
    margin-bottom: 2%;
    border-radius: 6px;
}
.cadaprod2 {
    padding: 1%;
    background-color: rgb(235, 235, 205);
    margin-bottom: 2%;
    border-radius: 6px;
}

.nombreprod {
    font-family:'Kreon', serif;
    font-size: larger;
    font-weight: bold;
}

.proddescri {
    font-family:'Kreon', serif;
    font-size: small;
    line-height: 15px;
}

.precioprod {
    font-family:'Kreon', serif;
    font-size: larger;
    font-weight: bold;
    padding: 0;
}

.imgart {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    justify-content: space-around;
}



.btnverprod {
    width: 100%;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    border: white 1px solid;
    font-family:'Kreon', serif;
    font-size: 13px ;
    padding: 3%;
    background-color: rgb(125,135,60);
}

.btnverprod a{
    text-decoration: none;
    color: white;
}

.botprod {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* ---------------------------------- DETALLE DEL PRODUCTO --------------------------*/
#mapnav{
    font-size: 18px;
    font-style: oblique;
    background-color: rgba(125, 135, 60, 0.8);
    color: white;
}

p.nombreProducto{
    font-family:'Kreon', serif;
    font-size: 150%;
    padding: 0px;
    flex-wrap: wrap;
    margin: 0PX;
}
.contenedorProducto{
    display: flex;
    flex-wrap: wrap;
   
}

p.descripcionProducto {
    font-family:'Kreon', serif;
    font-size: 100%;
    width: 100%;
    line-height: 132%
}
p.descripcionProducto2 {
    text-align: justify;
}

span.precioPrducto {
    font-weight: bold;
    font-size: 200%;
    margin: 0px;
    text-align: right;

}

.opcionStock{
    font-size: 10px;
    margin-left: 0px;
}
#selectStock{
    font-size: 8px;
}
div.alter {
    padding: 0%;
}

.contadortotal{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 2%;
    margin-left: 0px;
    margin-right: 0px;
}
.impcont {
    border: none;
    background-color: #fff;
}
button.selectorContador {
    border: white 1px solid;
}
.selectorContador{
    font-style: oblique;
    background-color: rgba(125, 135, 60, 0.8);
    color: white;
 padding: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
}

.botonproducto{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 6px;
    font-family:'Kreon', serif;
    font-size: 13px;
    text-decoration: none;
    border: white 1px solid;
}
.botonproductoQ{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 6px;
    font-family:'Kreon', serif;  
    text-decoration: none;
    border: white 1px solid;
}

.botonproductoQ a{
    color: white;
   text-decoration: none;
}

#rowClass{
    margin-right: 0px;
    margin-left: 0px;
    justify-content: space-around;
}
#rowProducto{
    justify-content: space-around;
}

/* ---------------------------------- FOOTER --------------------------*/

#divfooter{
    background-color: rgb(200,200,160);
    padding: 2%;
}

footer i{
    display: inline;
    color: black;
}

footer p {
    margin: 0px;
    font-size: 13px;
}

footer nav div a{
    font-family:'Kreon', serif;
    font-size: 13px;
    color: black;
}

footer ul{
    text-align: right;
    padding-bottom: 0px;
}

/*-------------------------------------CARRITO--------------------------------------*/

#button-compras{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 6px;
    padding: 3%;
    font-family:'Kreon', serif;
    font-size: 100%;
    text-decoration: none;
    border: white 1px solid;
    width: 100%;
    }

.detalle_Carrito{
    padding: 5%;
    background-color: rgba(200, 200, 160,);
}

section{
    margin: 1%;
    width: 100%;
    height: auto;
}

#compras-seguir{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#compras-titulo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:'Kreon', serif;
}
.nombre_producto{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200, 200, 160, 0.5);
    padding:3px;
    margin-left: 2px;
    position: relative;
}
#producto_reemplazo{
    padding-right: 1px;
    padding-left: 1px;
}
.producto1{
    font-size: 17px;
    padding-top: 3px;
}

#reemplazo{
    opacity: .5;
    font-size: 14px;
}
p{
    font-size: 14px;
    font-family:'Kreon', serif;
}

.cantidad{
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left:2px;
    padding-right: 2px;
    justify-content: center;
}

#cantidad-numero{
    font-size: 17px;
}
#precio-box{
    display: flex;
    flex-wrap: wrap;
    align-items:right;
    justify-content: flex-end;
    padding-left: 5px;
    padding-right: 5px;
}

#precio{
    display: flex;
    align-items: flex-start;
    padding-left:5px;
    padding-right: 5px;
    flex-direction: column;
    justify-content: space-around;
    font-size:18px;
}

.editable{ 
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

#lapiz-carrito{
        background-color: rgb(200,120,20);
        color: white;
        font-weight: 900;
}

#pago-detalle{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(200, 200, 160, 0.5);
    position: relative;
    color: rgb(125,135,60);
    width: 100%;
    height: auto;
}

#pago-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

#pago-item p{
    color: rgb(125,135,60);
    font-family:'Kreon', serif;
}

.pago-total{
    font-size: 17px;
    margin-bottom: 1px;
    justify-content:right;
    text-align: right;
}

.pago-box{
    display: flex;
    flex-wrap: wrap;
    padding:3px;
    position: relative;
}

#compras-pagar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

    .contadortotal{
        display: flex;
        align-items: center;
    }
    .selectorContador{

        display: flex;
        align-content: flex-end;

    }

    #selectStock{
        font-size: large;
    }

    .botonproducto{
        font-size: 150%;
        text-align: center;
    }
    .botonproductoQ{

        text-decoration: none;
    }
    .imgfiltros {
        width: 40%;
    }
    .filtropablabras {
        font-weight: bold;
        font-size: 21px;
    }
    .imgart img {
        width: 100%;
    }

    
    .menugrande {
        display: none;
    }
    .ppalcon {
        margin-top:25vw ;
    }


   /*---- ACÁ EMPIEZAN LOS FORMULARIOS -----*/

.headerformulario{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto;
    justify-content: center;
    }

    .logoformulario{
    width: 100%;
    }

    /*---- HASTA ACÁ HEADER FORMULARIOS -----*/

    .datos{
    color: rgb(200,120,20);
    font-family: 'kreon', serif;
    font-size: 20px;
    }

    .mainformulario{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .tituloformulario{
    font-size: 16px;
    font-family: 'Kreon', serif;
    color:rgb(200,120,20);
    padding-top: 2%;
    font-weight: bold;
    text-align: center;
    }

    #facebook{
    color: white;
    background-color: blue;
    border-radius: 8px;
    padding: 4% 10%;
    font-family:'Kreon', serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    }

    .registromail{
    color: grey;
    text-align: center;
    font-size: small;
    margin: 0px;
    font-family:'Kreon', serif;
    }

    .labelform{
    color:rgb(200,120,20);
    font-family:'Kreon', serif;
    font-size: 20px;
    text-align: left;
    margin: 0px;
    }

    input:hover{
    background:rgba(250,100,20,0.5) ;
    }

    .terminosycond{
    color: blue;
    text-align: center;
    }

    #registrarme{
        color: white;
        background-color: rgb(125,135,60);
        border-radius: 8px;
        padding: 4% 10%;
        width: 100%;
        font-family:'Kreon', serif;
        text-align: center;
        margin-bottom: 2%;
        margin-top: 2%;
        }

    #recuerdame {
        color:rgb(200,120,20);
        font-family:'Kreon', serif;
        font-size: 18px;
    }

    /*---- HASTA ACÁ REGISTRARSE -----*/

    .añadirproducto{
    color: white;
    background-color: rgb(125,135,60);
    border-radius: 8px;
    width: 100%;
    font-family:'Kreon', serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2% 10%;
    }

    .letragrisform{
    color: grey;
    font-family:'Kreon', serif;
    }

    .modificarexistente{
    color:rgb(125,135,60);
    border-radius: 8px;
    width: 100%;
    font-family:'Kreon', serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 2% 5%;
    }

    /*---- HASTA ACÁ FORM DE NUEVO PRODUCTO -----*/

/* ---------------------------------- LISTADO DE PRODUCTOS ADMINISTRADOR--------------------------*/
.adelist{
    text-decoration: none;
    font-family:'Kreon', serif;
    border-bottom: 1px rgb(204, 202, 202) solid;
}
.aadmin {
    color: black;

}


.hedadmin {
    padding-left: 1%;
    padding-right: 1%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 2%;
    margin-bottom: 1%;

}
.contenadmin {
    margin-bottom: 1%;
}

.tablalistadmincab {
    justify-content: center;
    background-color: rgb(200,120,20);
    margin: 1% 0 1% 0;
    border-radius: 6px;
    font-family:'Kreon', serif;
    padding: 1% 0% 0.2% 1%;
}

.primeracol {
    padding-right: 3%;
}

/* ---------------------------------- ERROR 404 --------------------------*/
.errorstyle {
    font-family: 'Kreon', serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(200,120,20);
    text-align: center;
}
.imgerror {
    width: 80vw;
}

.linkerror{
    text-decoration: none;
    color: rgb(200,120,20);
}
/* ---------------------------------- TABLA --------------------------*/


/* ---------------------------------- MEDIA QUERY --------------------------*/

 

 @media (min-width: 300px){
    .imgart {
        width: 100%;
    }
    .btncarrito {
        font-size: 12px;
    }
    .filtropablabras {
        font-weight: bold;
        font-size: 21px;
    }
    .imgfiltros {
        width: 40%;
    }
    .menugrande {
        display: none;
    }

    .afiltros{
        margin-top: 20vw;

        }
 .menugrande.col-3.row {
            display: none;
        }
 p.descripcionProducto2 {

            display: none;
        }
        span.precioPrducto {
            font-size: 100%;
          }

          .ppalcon {
            margin-top:32vw ;
        }
}

@media (min-width: 768px){

    .btncarrito {
        font-size: 14px;
    }
    .navbar-toggle {
        width:70%;
    }


    .ppalcon {
        margin-top:30vw ;
    }
    p.nombreProducto{

        font-size: 200%;
    }

    span.precioPrducto {
        font-size: 200%;
      }
    .afiltros{
        display: flex;
        justify-content: space-around;
        margin-top: 0vw;
        }
        p.descripcionProducto2 {

            display: inline;
        }
}

    @media (min-width: 992px) {
        .btncarrito {
            font-size: 16px;
        }
        .navbar-toggle {
            width:70%;
        }
        .imgfiltros {
            width: 30%;

        }
        .filtropablabras {
            font-weight: bold;
            font-size: 23px;
        }

        nav.navbarburguer {
            display: none;
        }
        .menugrande.col-3.row  {
            display: flex;
        }
    }

    @media (min-width: 1024px){
        .registromail{
            font-size: medium;
            }

        .logoformulario{
        width: 70%;
        margin-left: 15%;
        }
        }

    @media (min-width: 1200px) {
        .btncarrito {
            font-size: 16px;
        }
        .navbar-toggle {
            width:70%;
        }
        .imgfiltros {
            width: 30%;
        }
        .filtropablabras {
            font-weight: bold;
            font-size: 26px;
        }
        .imgart img {
            width: 140%;
        }
        nav.navbarburguer {
            display: none;
        }
        .menugrande {
            display: flex;
        }
        .afiltros {
            margin-top: -7vw;
        }
    }

