<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Journey</title>
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    
    
</head>
<body>
    
    <header class='container'>
        <div class='hedcompleta fixed-top' >
            
            <div class='row superior'>
                
                <div class="menugrande col-3 row" >
                    <div class="col-12" >
                        <button type="button" class="btncab" onclick="#">INGRESAR</button>
                        <button type="button" class="btncab" onclick="window.location = 'register.html'">REGISTRARME</button>
                        <button type="button" class="btncab">MIS COMPRAS</button>
                    </div>
                    
                </div>
                <nav class="navbarburguer navbar-expand-lg navbar-light col-3 ">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            
                            <a class="nav-item nav-link" href="#">INGRESAR</a>
                            <a class="nav-item nav-link " href="register.html">REGISTRARSE</a>
                            <a class="nav-item nav-link " href="#">MIS COMPRAS</a>
                            
                        </div>
                    </div>
                </nav>
                
                
                
                <div class= 'col-5 '>
                    <img class="logo" src="../public/img/logo-healthy-journey.png" alt="Logo" href="index.html" onclick="window.location = 'index.html'">
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-3 col-xl-3" >
                    <button type="button" class="btncarrito"onclick="window.location = 'produtCart.html'">CARRITO</button>
                    
                </div>
                
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por producto o por tienda" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search lupita"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>


<main class="ppalcon container">
    <nav class='row filtros'>
        <a href="" class='col-4 afiltros'><img src="../public/img/icono_orga.png" alt="" class='imgfiltros'></a>
        <a href="" class='col-4 afiltros'><img src="../public/img/icono sin tacc" alt="" class='imgfiltros' ></a>
        <a href="" class='col-4 afiltros'><img src="../public/img/icono_lactosa.png" alt="" class='imgfiltros'></a> 
    </nav>
    <div class="row filtros filtropablabras">
        <p>ORGÁNICOS</p>
        <p> SIN TACC</p>
        <p>SIN LACTOSA</p>
    </div>
    
    <section id="tiendas" class="container row">
        <article class="row col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cadatienda1">
            
            <div class="col-4">
                <img src="../public/img/logo cardamomo.png" alt="Logo Cardamomo" class="logostiendas">
            </div>
            <div class="col-8">
                <h1 class="nombretienda">CARDAMOMO</h1>
                <p>Difundimos la alimentación saludable y vegana. Queremos compartir lo simple y delicioso que es cocinar y comer de esta manera.</p>
                <button class="botonmain"><a href="prodPorTienda.html">VER PRODUCTOS</a></button>
            </div>
        </article>
        
        <article class="row col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cadatienda2">
            <div class="col-4">
                <img src="../public/img/logo natureba.png" alt="Logo Natureba" class="logostiendas">
            </div>
            <div class="col-8">
                <h1 class="nombretienda">NATUREBA</h1>
                <p>Natureba ofrece productos saludables de altísima calidad. Busca mejorar la alimentación de sus consumidores ofreciendo toda la variedad de productos para lograrlo.</p>
                <button class="botonmain">VER PRODUCTOS</button>
            </div>
        </article>
        <article class="row col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cadatienda1">
            <div class="col-4">
                <img src="../public/img/logo reparto alegria.png" alt="Logo Reparto Alegría" class="logostiendas">
            </div>
            <div class="col-8">
                <h1 class="nombretienda">REPARTO ALEGRÍA</h1>
                <p>Reparto Alegría se dedica a la Venta de Frutas y Hortalizas Orgánicas en el Gran Mendoza.</p>
                <button class="botonmain">VER PRODUCTOS</button>
            </div>
        </article>
        <article class="row col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cadatienda2">
            <div class="col-4">
                <img src="../public/img/LOGO MISTICA NATURAL.png" alt="Logo Mística Natural" class="logostiendas">
            </div>
            <div class="col-8">
                <h1 class="nombretienda">MÍSTICA NATURAL</h1>
                <p>Con 9 años en el rubro, es la primer tienda dedicada a productos orgánicos en Mendoza. Ofrecen productos orgánicos, medicinas naturales, productos ecológicos para el hogar y alimentos para celíacos y veganos.</p>
                <button class="botonmain">VER PRODUCTOS</button>
            </div>
        </article>
    </section>
</main>

<footer class="container">
    <div id="divfooter" >
        <nav class="row">
            <div class="col-8">
                <a href="">NOSOTROS  |</a>
                <a href="">PRIVACIDAD  |</a>
                <a href="">CONDICIONES</a>
            </div>
            <ul class="col-4">
                <p>SEGUINOS</p>
                <a href='https://twitter.com'><i class="fab fa-twitter" ></i></a>
                <a href='https://www.facebook.com'><i class="fab fa-facebook-square"></i></a>
                <a href='https://www.instagram.com'><i class="fab fa-instagram"></i></i></a>
            </ul>
        </nav>
    </div>
</footer>

<script src="js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>