<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Journey</title>
    <link rel="stylesheet" href="css/style_car.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kreon:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/style_car.css">
    
</head>
<body>
    
    <header class='container'>
        <div class='hedcompleta fixed-top' >
            
            <div class='row superior'>
                
                <div class="menugrande col-3 row" >
                    <div class="col-12" >
                        <button type="button" class="btncab" onclick="#">INGRESAR</button>
                        <button type="button" class="btncab" onclick="window.location = 'register.html'">REGISTRARME</button>
                        <button type="button" class="btncab">MIS COMPRAS</button>
                    </div>
                    
                </div>
                <nav class="navbarburguer navbar-expand-lg navbar-light col-3 ">
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            
                            <a class="nav-item nav-link" href="#">INGRESAR</a>
                            <a class="nav-item nav-link " href="register.html">REGISTRARSE</a>
                            <a class="nav-item nav-link " href="#">MIS COMPRAS</a>
                            
                        </div>
                    </div>
                </nav>
                
                <div class= 'col-5 '>
                    <img class="logo" src="../public/img/logo-healthy-journey.png" alt="Logo" href="index.html" onclick="window.location = 'index.html'">
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por producto o por tienda" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i class="fas fa-search lupita"></i></button>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="ppalcon">
    <div class="container ">
        <div class="row" id="compras-seguir">
            <button type="button" onclick="window.location = 'prodPorTienda.html'" class="btn btn-lg col-10" id="button-compras" href="prodPorTienda.html">SEGUIR COMPRANDO</button>
        </div>
    </div>
    
    <div class="container detalle_Carrito">
        <div class="row">
            <div class="container ">
                <div class="row">
                    <h3 class="col 10" id="compras-titulo">MI COMPRA</h3>
                </div>
            </div>
            
            <section class="nombre_producto">
                <div class="col-5" id="producto_reemplazo">
                    <p class="producto1">NOMBRE PRODCUCTO 1 </p>
                    <p id="reemplazo"> NOMBRE REEMPLAZO </p>
                </div>
                <div class="cantidad col-2">
                    <button class="badge badge-white" id="cantidad-numero" > 02 </button>
                </div>
                <div class=" col-5" id="precio-box">
                    <div id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <div class="editable">
                            <button type="submit" class="btn btn-outline-secondary fas fa-pencil-alt" id="lapiz">
                            </button>
                            <button type="submit" class="btn btn-outline-secondary fas fa-trash-alt " id="eliminar">
                            </button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="nombre_producto">
                <div class="col-5" id="producto_reemplazo">
                    <p class="producto1">NOMBRE PRODCUCTO 2 </p>
                    <p id="reemplazo"> NOMBRE REEMPLAZO </p>
                </div>
                <div class="cantidad col-2">
                    <button class="badge badge-white" id="cantidad-numero" > 02 </button>
                </div>
                <div class=" col-5" id="precio-box">
                    <div id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <div class="editable">
                            <button type="submit" class="btn btn-outline-secondary fas fa-pencil-alt" id="lapiz">
                            </button>
                            <button type="submit" class="btn btn-outline-secondary fas fa-trash-alt " id="eliminar">
                            </button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="nombre_producto">
                <div class="col-5" id="producto_reemplazo">
                    <p class="producto1">NOMBRE PRODCUCTO 3 </p>
                    <p id="reemplazo"> NOMBRE REEMPLAZO </p>
                </div>
                <div class="cantidad col-2">
                    <button class="badge badge-white" id="cantidad-numero" > 02 </button>
                </div>
                <div class=" col-5" id="precio-box">
                    <div id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <div class="editable">
                            <button type="submit" class="btn btn-outline-secondary fas fa-pencil-alt" id="lapiz">
                            </button>
                            <button type="submit" class="btn btn-outline-secondary fas fa-trash-alt " id="eliminar">
                            </button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section class="nombre_producto">
                <div class="col-5" id="producto_reemplazo">
                    <p class="producto1">NOMBRE PRODCUCTO 4 </p>
                    <p id="reemplazo"> NOMBRE REEMPLAZO </p>
                </div>
                <div class="cantidad col-2">
                    <button class="badge badge-white" id="cantidad-numero" > 02 </button>
                </div>
                <div class=" col-5" id="precio-box">
                    <div id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <div class="editable">
                            <button type="submit" class="btn btn-outline-secondary fas fa-pencil-alt" id="lapiz">
                            </button>
                            <button type="submit" class="btn btn-outline-secondary fas fa-trash-alt " id="eliminar">
                            </button>
                        </div>
                        
                    </div>
                </div>
            </section>
            <section>
                <div class="col-12" id="pago-detalle">
                    <div class="col-6" id="pago-item">
                        <p class="pago-total">SUBTOTAL</p>
                        <p class="pago-total">VIAJE</p>
                        <p class="pago-total">TOTAL</p>
                    </div>
                    
                    <div class=" pago-box col-6" id="precio">
                        <span id="precio-numero"> $ 00.000,00</span>
                        <span id="precio-numero"> $ 00.000,00</span>
                        <span id="precio-numero"> $ 00.000,00</span>
                    </div>
                </div>
                
            </section>
            
            <div class="container ">
                <div class="row" id="compras-pagar">
                    <button class="btn btn-lg col-10" id="button-compras">PAGAR</button>
                </div>
            </div>
            
        </div>
    </div>
    
    <footer class="container">
        <div id="divfooter" >
            <nav class="row">
                <div class="col-8">
                    <a href="">NOSOTROS  |</a>
                    <a href="">PRIVACIDAD  |</a>
                    <a href="">CONDICIONES</a>
                </div>
                <ul class="col-4">
                    <p>SEGUINOS</p>
                    <a href='https://twitter.com'><i class="fab fa-twitter" ></i></a>
                    <a href='https://www.facebook.com'><i class="fab fa-facebook-square"></i></a>
                    <a href='https://www.instagram.com'><i class="fab fa-instagram"></i></i></a>
                </ul>
            </nav>
        </div>
    </footer>
    
    <script src="js/bootstrap.min.js"></script>
</body>
</html>