* {
  box-sizing: border-box;
}

.body{
  margin-left: 10%;
  margin-right: 10%;
}

.section{
  display:'flex';
  justify-content: space-between;
  padding: 0px;
}

#header {
  background-color: rgb(200,200,160);
  margin-bottom: 3%;
  justify-content: space-between;
  display: flex;
}

.logoPrincipal {
  width: 20%;
}

.avatar{
border-radius: 50px;
}

.Navbar {
  background-color: rgb(200,120,20);
  margin-right: 2%;
  color: white;
  font-size: 12px;
  font-family:'Kreon', serif;
}

h1{
  color: white;
  font-size: 5px;
  font-family:'Kreon', serif;
}

.articulo h2{
  font-size: 18px;
  font-family:'Kreon', serif;
  border-bottom: solid grey 1px;
}

.listado{
  text-decoration: none;
}

.totales{
  background-color: rgb(200,200,160);
  margin-left: 2%;
  margin-right: 2%;
  padding: 0px;
}

.articulo{
  display:'flex';
  justify-content: space-between;
  margin-bottom: 5%;
}

.medio{
  background-color: rgb(200,200,160);
}

.ultimos{
  background-color: rgb(200,200,160);
}
