<nav class='row filtros'>
    <a href= "/productos/organicos" class='col-4 afiltros'><img src="/img/icono_orga.png" alt="" class='imgfiltros'></a>
    <a href= "/productos/sinTacc" class='col-4 afiltros'><img src="/img/icono sin tacc" alt="" class='imgfiltros' ></a>
    <a href= "/productos/sinLactosa" class='col-4 afiltros'><img src="/img/icono_lactosa.png" alt="" class='imgfiltros'></a> 
</nav>
<div class="row filtros filtropablabras">
    <p>ORGÁNICOS</p>
    <p> SIN TACC</p>
    <p>SIN LACTOSA</p>
</div>